.section {
    width: 100%;
    padding: 48px 32px 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
  }
  
  .title {
    font-size: 48px;
    line-height: 1.25;
    letter-spacing: -0.02em;

    @media (max-width: 960px) {
      font-size: 24px;
    }
  }
  
  .subtitle {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-grey);

    @media (max-width: 960px) {
      font-size: 14px;
    }
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 16px;

    @media (max-width: 960px) {
      grid-template-columns: repeat(2, minmax(0, 1fr))!important;
    }
  }
  
  .card {
    background: var(--bg-surface);
    transition: background 0.2s;
    border-radius: 16px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .cardIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: filter 0.2s;
    }
  }

  :global([data-theme="dark"]) .cardIcon img {
    filter: brightness(0) invert(1);
  }
  
  .cardText {
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-grey);
    white-space: pre-line;
    text-align: center;

    @media (max-width: 960px) {
        & img {
            width: 32px;
        }
    }

    @media (max-width: 960px) {
      font-size: 12px;
    }
  }
  
  @media (max-width: 1023px) {
    .grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .section {
      padding: 40px 24px 64px;
    }
  }
  
  @media (max-width: 639px) {
    .grid {
      grid-template-columns: 1fr;
    }
  
    .section {
      padding: 32px 16px 48px;
    }
  }